:root {
  font-size: 62.5%;

  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-s) var(--color-primary);

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-primary);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-s);
    border-radius: 20px;
    border: 3px solid var(--color-primary);
  }
}

.container {
  display: grid;
  grid-template-columns:
    [container-start] 1fr [center-start] repeat(
      6,
      [col-start] minmax(min-content, 16.66667rem) [col-end]
    )
    [center-end] 1fr [container-end];
  grid-template-rows: min-content 90vh repeat(9, min-content);
}

a:link,
a:visited {
  text-decoration: none;
  font-family: "Sora", sans-serif;
  color: var(--color-secondary-m);
  font-weight: font-weight(font-weight-small);
  letter-spacing: 0.2rem;
  font-size: font-size(font-size-mediumsmall);
}

::selection {
  background-color: var(--color-selection);
}

.numbers {
  color: var(--color-primary-m-s);
}

.ball {
  width: 35px;
  height: 35px;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid var(--color-mouse-follower);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
}
