html,
body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: touch;
}

body {
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.panel.align-top {
  align-items: flex-start;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  will-change: transform;
  font-family: "Sora", sans-serif;
  //Middle Line
  &.open .header__menu--line {
    background-color: transparent;
  }

  &.open .header__menu--line::before {
    transform: rotate(45deg);
  }

  &.open .header__menu--line::after {
    transform: rotate(-45deg);
  }

  &.open .header__menu--line::before,
  &.open .header__menu--line::after {
    top: 0;
  }
  /* Navigation */

  &__nav {
    width: 100%;
    min-width: 15rem;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-right: 2px solid var(--color-primary-m-s);

    &--container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: var(--color-tertiary);
      width: 100%;
      height: 100%;

      .tooltip {
        position: relative;
        display: inline-block;

        & .tooltiptext {
          visibility: hidden;
          width: 120px;
          background-color: var(--color-primary-m-s);
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          left: 0;
          top: 0;
          /* Position the tooltip */
          position: absolute;
          z-index: 1;
          margin-top: 3rem;
          font-size: font-size("font-size-supersmall");
        }

        &:hover .tooltiptext {
          visibility: visible;
        }
      }

      a {
        color: white;
        font-weight: font-weight("font-weight-bold");
        font-size: calc(0.8rem + 0.6vw);
        line-height: 1.5em;
        margin: 0.3em 0 1em 0;
      }

      &--logo {
        width: 100%;
        height: auto;
        padding-bottom: 1rem;

        img {
          height: 15rem;
          width: inherit;
          min-width: 15rem;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
    &--links-container {
      background-color: var(--color-tertiary-m);
      width: 100%;
      height: auto;
    }

    &--links {
      display: flex;
      list-style: none;
      justify-content: space-evenly;
      flex-direction: column;
      &__item {
        padding: 3rem 1.2rem;
        border-bottom: 2px solid var(--color-primary-m-s);

        &:first-child {
          border-top: 2px solid var(--color-primary-m-s);
        }

        a:link,
        a:visited {
          margin-right: 1vw;
          padding: 0 1.5rem;
        }

        a:hover,
        a:active {
          color: var(--color-primary-m-s);
        }
      }

      //color toggler
      &__toggle-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 3rem 2rem 2rem 2rem;
        width: 100%;
        height: auto;

        i {
          font-size: calc(1.5rem + 1.5vw);
          color: var(--color-secondary-m);
          padding-bottom: 2rem;

          &:hover,
          &:active {
            color: var(--color-primary-m-s);
            scale: 1.05;
          }
        }

        input[type="checkbox"] {
          cursor: pointer;
          position: relative;
          width: 6rem;
          height: 3rem;
          -webkit-appearance: none;
          -moz-appearance: none;
          background-color: var(--color-quaternary-m);
          border-radius: 2.5rem;
          box-shadow: inset 0 0 0.6rem 0.1rem var(--color-primary-m-s);
          transition: all 0.5s ease-in-out;
        }

        input:checked[type="checkbox"] {
          background-color: var(--color-quaternary-m);
        }

        input:not(:checked)[type="checkbox"] {
          background-color: var(--color-primary);
        }

        input[type="checkbox"]::before,
        input[type="checkbox"]::after {
          content: "";
          position: absolute;
          top: 0.8rem;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          background-color: var(--color-primary-m-s);
          box-shadow: 0 0.1rem 0.3rem 0.1rem var(--color-primary);
          transition: all 0.5s ease-in-out;
        }

        input[type="checkbox"]::before {
          left: 0.5rem;
        }

        input[type="checkbox"]::after {
          right: 0.5rem;
        }

        input:checked[type="checkbox"]::before {
          left: 37%;
          box-shadow: none;
        }

        input:checked[type="checkbox"]::after {
          right: 38%;
          box-shadow: none;
        }
      }
    }
  }
}

/* SCROLL DOWN */
.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  color: rgb(255, 254, 254);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  overflow: visible;
}
.scroll-down .arrow {
  position: relative;
  top: -2px;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNTAgNTAiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNTAgNTAiPjxwYXRoIGQ9Im00OC43MDcgMTkuMzUzLTEuNDE0LTEuNDEzTDI1IDQwLjIzMiAyLjcwNyAxNy45NGwtMS40MTQgMS40MTNMMjUgNDMuMDZ6IiBmaWxsPSIjZmZmZmZmIiBjbGFzcz0iZmlsbC0wMDAwMDAiPjwvcGF0aD48cGF0aCBkPSJNNDguNzA3IDguMzUzIDQ3LjI5MyA2Ljk0IDI1IDI5LjIzMiAyLjcwNyA2Ljk0IDEuMjkzIDguMzUzIDI1IDMyLjA2eiIgZmlsbD0iI2ZmZmZmZiIgY2xhc3M9ImZpbGwtMDAwMDAwIj48L3BhdGg+PC9zdmc+)
    no-repeat;
  background-size: contain;
}

// .arrow-right {
//   transform: rotate(-90deg);
//   position: relative;
//   top: -4px;
//   margin: 1rem auto;
//   width: 20px;
//   height: 20px;
//   background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
//   background-size: contain;
// }

@include media-medium {
  /* Hamburger */
  .header {
    &__menu {
      left: 2rem;
    }

    /* close nav links */
    &__nav {
      z-index: 10;
      width: 1rem;
      visibility: hidden;
      &.open {
        width: 100vw;
      }

      &--container {
        p {
          font-size: font-size("font-size-regular");
        }

        &--logo {
          width: 100%;
          height: auto;
          padding: 3rem 3rem 0 3rem;

          img {
            width: 100%;
            max-width: 550px;
            height: auto;
            margin: auto;
          }
        }
      }

      &--links {
        align-items: center;
        &__toggle-container {
          position: relative;
          padding: 1rem 1rem 2rem 1rem;
          width: 80%;
          height: auto;
          &:before {
            content: "";
            position: absolute;
            z-index: 1;
            height: 80%;
            width: 100%;
            border-left: 2px solid var(--color-primary-m-s);
            border-right: 2px solid var(--color-primary-m-s);
            border-top-right-radius: 25px;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
            pointer-events: none;
          }

          i {
            font-size: font-size("font-size-large");

            &:hover,
            &:active {
              color: var(--color-primary-m-s);
              scale: 1.05;
            }
          }
        }

        &__item {
          width: 80%;
          padding: 3rem 1.2rem;
          border-bottom: 2px solid var(--color-primary-m-s);

          &-a {
            display: flex;
            justify-content: center;
            font-size: font-size("font-size-small") !important;
          }
        }
      }
    }

    & .open {
      visibility: visible;
    }
    &__menu {
      height: 4rem;
      width: 4rem;
      position: fixed;
      top: 2rem;
      right: 2rem;
      padding: 2.5rem;
      z-index: 20;
      cursor: pointer;

      &--line,
      &--line::before,
      &--line::after {
        content: "";
        position: absolute;
        width: 3.5rem;
        height: 0.2rem;
        background-color: var(--color-hamburger);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transition: all 0.5s ease-in-out;
      }

      &--line::before {
        top: -2.2rem;
      }

      &--line::after {
        top: 1.3rem;
      }
    }
  }
}

// #About {
//   transform: translate(99.9432%) translate3d(1104.17px, 0px, 0px) !important ;

//   visibility: hidden;
//   position: relative;
// }

.retaltive {
  position: relative;

  &--1 {
    transform: translate(100%) !important ;
  }

  // &--2 {
  //   transform: translate(400.057%) translate3d(0px, 0px, 0px) !important;
  // }
  // &--3 {
  //   transform: translate(300%) translate3d(0px, 0px, 0px) !important;
  // }
}

.anchor-point {
  position: absolute;
  // top: -70px;
  background-color: red;
  // visibility: hidden;
}

//3
// .absolute {
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   background-color: rgba(0, 0, 0, 0.112);
//   transform: translate(-100px, -1000px);
// }

.absolute {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(233, 6, 6, 0.493);
  transform: translate(-50%, -100%);
  z-index: 100;
}

.panela {
  position: relative;
  width: 100%;
  height: 100%;
}

#About {
  z-index: 100;
}

.cover {
  position: absolute;
  height: 100%;
  width: 400%;
  display: block;
  z-index: 999;
  background-color: rgba(0, 255, 255, 0.119);
}
